<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

https://www.google.com/search?q=test&sxsrf=AOaemvKa60PdsyFrPzqumsm1UoAnQUOo2A%3A1631182474988&source=hp&ei=it45Ya_jOIv6rgTPo5-IDg&iflsig=ALs-wAMAAAAAYTnsmor4L1tYpJAsJdR7cFeZLGA0zuJy&oq=test&gs_lcp=Cgdnd3Mtd2l6EAMyCwgAEIAEELEDEIMBMggIABCABBCxAzIICAAQgAQQsQMyBQguEIAEMhEILhCABBCxAxCDARDHARCvATIICC4QgAQQsQMyCAgAEIAEELEDMgUILhCABDILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBOgQIIxAnOg4ILhCABBCxAxDHARDRAzoRCC4QgAQQsQMQgwEQxwEQ0QM6DgguEIAEELEDEMcBEKMCOgUIABCABDoLCC4QgAQQxwEQrwE6DQguELEDEMcBEKMCEAo6EQguEIAEELEDEMcBEKMCEJMCUOgJWMkZYLUbaAJwAHgAgAFpiAGKBJIBAzQuMpgBAKABAQ&sclient=gws-wiz&ved=0ahUKEwiv0O2f1PHyAhULvYsKHc_RB-EQ4dUDCAc&uact=5

<body>
    <form action="https://www.google.com/search" method="GET">
        <input type="text" size="30" placeholder="Ваш вопрос" name="q"> <br>
        <input type="submit" value="Сохранить"> <br>

        <!--        <input type="password" size="8"> <br>
        <input type="checkbox" checked="checked"> <br>
        <input type="radio" name="radio"> <br>
        <input type="radio" name="radio"> <br>
        <input type="file"> <br>
        <input type="submit" value="Сохранить"> <br>
        <input type="reset" value="Очистить"> <br>
        <input type="button" value="просто кнопка">
    --> 

    </form>
    
    <a class="menu-link" href="/main">О Нас        </a>
</body>
</html>
