<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>

<body>
    <ul class="header-footer">
        <li class="menu-item"><a class="menu-link" href="#">Главная        </a>
        </li>
        <li class="menu-item"><a class="menu-link" href="about">О Нас        </a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#">Главная        </a>
        </li>
        
    </ul>
    <hr>
    <h1 class="main-header">Добро пожаловать на&nbsp;наш интернет-магазин</h1>
    <p class="description"> 
        
        Уважаемые родители (законные представители), обучающиеся и сотрудники! Содержание и обслуживание зданий, помещений и территории школы, техники и оборудования, а также закупка материалов и оборудования для учащихся, в том числе и учебников и учебных пособий, производится за счет средств Школы. При выявлении фактов сбора средств на указанные цели сообщите, пожалуйста, по телефону: 8 (495) 316-50-22 или на e-mail: 1580@edu.mos.ru


    </p>

    <hr>
    <ul class="header-footer">
        <li class="menu-item">&copy;&nbsp;Наш интернет-магазин</li>
        <li class="menu-item"><a href="mailto:email@mail.ru">email@mail.ru</a></li>
    </ul>

</body>

</html>
